.main-stock {
    margin-left: 200px;
    margin-top: 53px;
    padding: 0 10px;
}

.approv-container {
    padding-bottom: 20px;
}

/* Produits */
.produits {
    flex: 1 1;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    min-height: calc(100vh - 123px)
}